{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<header class="masthead" style= 'background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("{% static 'home/images/bg2.jpg' %}");'>
    
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
      <br>
      <br>
        <h1 class="mx-auto my-0 text-uppercase"> JUSTBOT!</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"> Here you can get help with filling in the application form to the European Court of Human
            Rights.</h2>
        <a href="{% url 'form' %}" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>
  
<div class="jumbotron" align="center" style="border:30px white solid">
    <div class="container">
        <h1 class="display-5">Did you know ?
        </h1>
        <p class="lead"> that only about <b>5%</b> of all the applications submitted to the ECtHR reach the stage of getting
                a judgement? 
            <p> The large majority gets declared inadmissible on formal grounds, like not filling the
                application form correctly, not exhausting all national remedies or sending the application more than 6
                months after receiving a final decision from the national courts. The Robolawyer's digital form will
                help you with filling in all required fields for your specific case and avoid the most common mistakes!
            </p>
        </p> <br>
        <div align="center">
            <!-- <a class="btn btn-primary" data-toggle="modal" data-target="#admCriteria" role="button"
                href="#">Admissibility
                Checklist</a> -->
            <a class="btn btn-primary" href="{% url 'form' %}" role="button">Go to the Application Form</a>
        </div>
        <!-- <div class="modal fade" id="admCriteria" tabindex="-1" role="dialog" aria-labelledby="admCriteriaTitle"
            aria-hidden="true"> -->
        <!-- <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-prop">
                    <div class="modal-header">
                        <h5 class="modal-title" id="admCriteriaTitle">Admissibility Criteria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe id="MyIFrame" runat="server" scrolling="auto" width=100% height=100% frameborder="0"
                            src="https://app.echr.coe.int/CheckList/Step1.aspx"></iframe>
                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div> -->
    </div>
</div>

<div class="bg-white text-center">
    <div class="container">
        <h1>Founders</h1>
        <p class="font-weight-light lead">The Justbot project is a collaboration between TechR - Technology for Human
            Rights and the University of Oslo
        </p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center" align="center">
        <div class="col-xl-3 col-md-6 mb-4">
            <img src="{% static 'home/images/techr-logo.png' %}" class="logo-images-home" alt="techR">
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <img src="{% static 'home/images/uio-logo.png' %}" class="logo-images-home" alt="uio">
        </div>
    </div>
</div>

{% endblock content %}