[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-webpack-loader = "*"
weasyprint = "*"
cairocffi = "*"

[requires]
python_version = "3.7"
