[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
weasyprint = "*"
pycountry = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
pdfrw = "*"
reportlab = "*"
pypdf = "*"
pypdf2 = "*"
comtypes = "*"
djangorestframework = "*"
csvimporter = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
