html,
body {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

.Header,
.Footer {
    flex-shrink: 0;
}

.Content {
    flex-grow: 1;
}

/* Other Classes for Page Styling */

/* body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
} */

h1 {
    color: black;
}

.navbar-links:hover {
    color: white !important;
    background-color: black;
}

/* .contrib-logo {
    margin: 0 60px;
} */

.logo-images-home {
    width: 40%;
}

.modal-dialog {
    /* width: 80% !important; */
    max-width: 80% !important;
    max-height: 80% !important;
    height: 60%;
}

.modal-content {
    height: 100% !important;
    width: 100% !important;
}

.modal-footer {
    justify-content: center !important;
}