<div id="form-page-7" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger7">
    <section class="container">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">Compliance with admisibility criteria laid down in Article 35 § 1 of
                    the Convention </p>

                <p>
                    For each complaint, please confirm that you have used the available effective remedies in the
                    country
                    concerned, including appeals,
                    and also indicate the date when the final decision at domestic level was delivered and received, to
                    show
                    that you have complied with
                    the six-month time-limit.
                </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" name="" id="" cols="30" rows="100"></textarea>
                </div>
                <div class="card-footer" align="center">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
                </div>
            </div>
    </section>
</div>