<div id="form-page-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger6">
    <section class="container">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">
                    Statement of alleged violation(s) of the Convention and/or Protocols and relevant arguments
                </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" name="" id="" cols="30" rows="100"></textarea>
                </div>
                <div class="card-footer" align="center">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
                </div>
            </div>
    </section>
</div>