html,
body {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

.Header,
.Footer {
    flex-shrink: 0;
}

.Content {
    flex-grow: 1;
}

/* Other Classes for Page Styling */

/* body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
} */

h1 {
    color: black;
}

.navbar-links:hover {
    color: white !important;
    background-color: black;
}