{% extends 'home/base.html' %}
{% load static %}
{% block headContent %}

<link rel="stylesheet" href="{% static 'applicationForm/stepper/bs-stepper.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}">

{% endblock headContent %}
{% block content %}

<div class="jumbotron" style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%); height:700px">
    <br>
     <h1 class="display-3" id="form-title">
        External Resources
    </h1>
    <div class="col-md-12 mx-auto form-section">
    <div class="card-body">
    
		<div class="container-fluid">
		<h3 class="text-center">Here you can find links to relevant videos and documents of the European Court of Human Rights.</h3>
		<br>
		<div class="row">
				<div class="col-sm-4"> <img src="{% static 'extResources/images/extRess.svg' %}" width=80%;></div>
  				<div class="col-sm-8">
					
					<br>
					<br>
					<br>
			        <p class="lead"><i class="far fa-folder-open"></i> European Convention on Human Rights (English Version): <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf">Click here</a></p>
			        <p class="lead"><i class="far fa-folder-open"></i> ECHR and Protocols to the Convention: <a href="https://www.echr.coe.int/Pages/home.aspx?p=basictexts&c ">Click here</a></p>
			        <p class="lead"><i class="far fa-folder-open"></i> Find application forms in other languages: <a href="https://www.echr.coe.int/Pages/home.aspx?p=applicants/ol&amp;c=">Click here</a></p>
			        <p class="lead"><i class="far fa-folder-open"></i> ECtHR documents related to court applications: <a href="ECtHR documents related to court applications">Click here</a></p>
			        <p class="lead"><i class="far fa-folder-open"></i> ECHR - Video on the admissibility conditions (English Version): <a href="https://youtu.be/mcbDDhs5ZVA">Click here</a></p class="lead">
			        <p class="lead"><i class="far fa-folder-open"></i> Presentation of the European Court of Human Rights (English Version): <a href="https://youtu.be/EPWGdhgQlgk">Click here</a></p>
			        <p class="lead"><i class="far fa-folder-open"></i> The Human Rights Treaty Body system: <a href="https://youtu.be/JP0fB-_X0l8">Click here</a></p>
			        <p class="lead"> <i class="far fa-folder-open"></i> Relevant cases for each article: <a href="https://www.echr.coe.int/Pages/home.aspx?p=caselaw/reports&amp;c=">Click here</a></p>
				</div>
		</div>
        <hr>

</div> <!-- /container -->
</div>
</div>
</div>
{% endblock content %}