{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
        <div class="container-fluid">
                <h1 class="display-3">External Resources</h1>
                <p class="lead">Here you can find links to relevant videos and documents of the European Court of Human
                        Rights.</p>
        </div>
</div>
<br>
<div class="container-fluid">
        <p class="lead">European Convention on Human Rights (English Version): <a
                        href="https://www.echr.coe.int/Documents/Convention_ENG.pdf">Click here</a></p>
        <p class="lead">ECHR and Protocols to the Convention: <a
                        href="https://www.echr.coe.int/Pages/home.aspx?p=basictexts&c ">Click here</a></p>
        <p class="lead">Find application forms in other languages: <a
                        href="https://www.echr.coe.int/Pages/home.aspx?p=applicants/ol&amp;c=">Click here</a></p>
        <p class="lead">ECtHR documents related to court applications: <a
                        href="ECtHR documents related to court applications">Click
                        here</a></p class="lead">
        <p class="lead">ECHR - Video on the admissibility conditions (English Version): <a
                        href="https://youtu.be/mcbDDhs5ZVA">Click
                        here</a></p class="lead">
        <p class="lead">Presentation of the European Court of Human Rights (English Version): <a
                        href="https://youtu.be/EPWGdhgQlgk">Click here</a></p>
        <p class="lead">The Human Rights Treaty Body system: <a href="https://youtu.be/JP0fB-_X0l8">Click here</a></p
                class="lead">
        <p class="lead">Relevant cases for each article: <a
                        href="https://www.echr.coe.int/Pages/home.aspx?p=caselaw/reports&amp;c=">Click here</a></p>

        <hr>

</div> <!-- /container -->
{% endblock content %}