/* html,
body {
    display: flex;
    flex-direction: column;
}


footer {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vw;
    width: 100%;
    overflow: auto;
}

.Content {
    flex-grow: 1;
}*/

/* Other Classes for Page Styling */

/* body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
} */

/* h1 {
    color: black;
}

.navbar-links:hover {
    color: white !important;
    background-color: black;
}

.contrib-logo {
    margin: 0 60px;
} */



/* footer {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vw;
    width: 100%;
    overflow: hidden;
} */
html {
    zoom: 75%;
    margin: 0;

}
@-moz-document url-prefix() {
html {
    margin: 0;
    font-size: 3mm;
}
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

footer {
    height: 8vw;
}
.bubble{
	z-index: 999;
	position: fixed;
		top: 95px;
		left: 10px;
		width: 240px;
		height: 33px;
		padding: 0px;
		background: rgba(0255,255,255,0.1);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color:black;
		font-size:10px;
		font-family:Nunito;
		text-align:left;
		padding-left: 10px;
}

.lead b {
    font-weight: 800;
}

.modal-dialog {
    /* width: 80% !important; */
    max-width: 80% !important;
    max-height: 80% !important;
    height: 60%;
}

.modal-content {
    height: 100% !important;
    width: 100% !important;
}

.home-jumbo {
    border: 30px white solid;
}

.modal-footer {
    justify-content: center !important;
}

/* .space-divider {
    height: 10vw;
} */