{% extends 'home/base.html' %}
{% load static %}
{% block headContent %}

<link rel="stylesheet" href="{% static 'applicationForm/stepper/bs-stepper.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}">

{% endblock headContent %}
{% block content %}

<div class="jumbotron" style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%); height:700px">
    <br>
     <h1 class="display-3" id="form-title">
        AboutUs
    </h1>
    <div class="col-md-12 mx-auto form-section">
    <div class="card-body">
    <div class="container-fluid">
        
        <p class="lead">This project is possible due to the hard work of a wonderful group of people and financial
            support from the Law Faculty, Lovdata and The Centre for Excellence.</p>
    </div>

<br>
<div class="container-fluid" >
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>The Tech-R team is led by Lelia Marcau, and Kumar Aman coded the website,
                    Dan Costin is
                    the brilliant mind behind the algorithms and Nabil Ouhi did the graphic design.</em> </h4>
        </div>
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>The Law Faculty team is led by Malcolm Langford, and they offer legal
                    guiding and material
                    support throughout the development of this project. </em> </h4>
        </div>
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>Andra Matei, the leader of Avangarde Lawyers and former lawyer at the
                    European Court of
                    Human Rights did the legal quality assurance for our digital form.</em></h4
                class="font-weight-light">
        </div>
    </div>

    <hr>

</div> <!-- /container -->

</div>
</div>
</div>

{% endblock content %}