{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <div class="container-fluid">
        <h1 class="display-3">About Us</h1>
        <p class="lead">This project is possible due to the hard work of a wonderful group of people and financial
            support from the Law Faculty, Lovdata and The Centre for Excellence.</p>
    </div>
</div>
<br>
<div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>The Tech-R team is led by Lelia Marcau, and Kumar Aman coded the website,
                    Dan Costin is
                    the brilliant mind behind the algorithms and Nabil Ouhi did the graphic design.</em> </h4>
        </div>
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>The Law Faculty team is led by Malcolm Langford, and they offer legal
                    guiding and material
                    support throughout the development of this project. </em> </h4>
        </div>
        <div class="col-md-4">
            <h4 class="font-weight-light"><em>Andra Matei, the leader of Avangarde Lawyers and former lawyer at the
                    European Court of
                    Human Rights did the legal quality assurance for our digital form.</em></h4
                class="font-weight-light">
        </div>
    </div>

    <hr>

</div> <!-- /container -->
{% endblock content %}