{% extends 'home/base.html' %}
{% load static %}

{% block headContent %}
<link rel="stylesheet" href="{% static 'applicationForm/intlTelInput/intlTelInput.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/stepper/bs-stepper.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/parsley/parsley.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/countrySelect/countrySelect.min.css' %}">
{% endblock headContent %}

{% block content %}

<div class=" mb-5 p-4 bg-white shadow-sm">
    <h3>Application Form</h3>
    <div id="stepperForm" class="bs-stepper">
        <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#form-page-1">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1"
                    aria-controls="form-page-1">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Prerequisites</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-2">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2"
                    aria-controls="form-page-2">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Applicant Detail</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-3">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3"
                    aria-controls="form-page-3">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Representative</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-4">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger4"
                    aria-controls="form-page-4">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">States Involved</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-5">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger5"
                    aria-controls="form-page-5">
                    <span class="bs-stepper-circle">4</span>
                    <span class="bs-stepper-label">Statement of Facts</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-6">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger6"
                    aria-controls="form-page-6">
                    <span class="bs-stepper-circle">5</span>
                    <span class="bs-stepper-label">Article Violation(s)</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-7">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger7"
                    aria-controls="form-page-7">
                    <span class="bs-stepper-circle">6</span>
                    <span class="bs-stepper-label">Domestic Proceedings</span>
                </button>
            </div>
            <div class="step" data-target="#form-page-8">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger8"
                    aria-controls="form-page-8">
                    <span class="bs-stepper-circle">7</span>
                    <span class="bs-stepper-label">International Proceedings</span>
                </button>
            </div>
            <div class="step" data-target="#form-page-9">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger9"
                    aria-controls="form-page-9">
                    <span class="bs-stepper-circle">8</span>
                    <span class="bs-stepper-label">Documents</span>
                </button>
            </div>
            <!-- <div class="bs-stepper-line"></div> -->
            <div class="step" data-target="#form-page-10">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger10"
                    aria-controls="form-page-10">
                    <span class="bs-stepper-circle">9</span>
                    <span class="bs-stepper-label">Declaration</span>
                </button>
            </div>
            <div class="step" data-target="#form-page-11">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger11"
                    aria-controls="form-page-11">
                    <span class="bs-stepper-circle">10</span>
                    <span class="bs-stepper-label">Finish to PDF</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form id="appForm" class="needs-validation" onSubmit="return false" method="POST"
                action="{% url 'formSubmit' %}" novalidate>
                {% csrf_token %}
                {% include 'applicationForm/page1.html' %}
                {% include 'applicationForm/page2.html' %}
                {% include 'applicationForm/page3.html' %}
                {% include 'applicationForm/page4.html' %}
                {% include 'applicationForm/page5.html' %}
                {% include 'applicationForm/page6.html' %}
                {% include 'applicationForm/page7.html' %}
                {% include 'applicationForm/page8.html' %}
                {% include 'applicationForm/page9.html' %}
                {% include 'applicationForm/page10.html' %}
                {% include 'applicationForm/page11.html' %}

            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scriptContent %}
<!-- <script src="{% static 'home/js/jquery/jquery-3.4.1.min.js' %}"></script> -->
<script src="{% static 'applicationForm/parsley/parsley.min.js' %}"></script>
<script src="{% static 'applicationForm/js/summaryScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/formScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/prereqFormScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/validationScripts.js' %}"></script>
<script src="{% static 'applicationForm/stepper/bs-stepper.min.js' %}"></script>
<script src="{% static 'applicationForm/intlTelInput/intlTelInput.min.js' %}"></script>
<script src="{% static 'applicationForm/intlTelInput/utils.js' %}"></script>
<script src="{% static 'applicationForm/countrySelect/countrySelect.min.js' %}"></script>
<script src="{% static 'applicationForm/js/countryScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/phoneScripts.js' %}"></script>
<script src="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/datepicker/datePicker.js' %}"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

{% endblock scriptContent %}