{% extends 'home/base.html' %}
{% load static %}

{% block headContent %}
<link rel="stylesheet" href="{% static 'applicationForm/intlTelInput/intlTelInput.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/stepper/bs-stepper.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/parsley/parsley.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/countrySelect/countrySelect.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/tagsinput/tagsinput.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/bootstrap-select/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/css/animate.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'applicationForm/rmodal/rmodal.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.css' %}">
<style type="text/css">
    .modal .modal-dialog {
      width: 400px;
    }
  </style>

  <script type="text/javascript">
      window.onload = function() {
          var modal = new RModal(document.getElementById('modal'), {
              //content: 'Abracadabra'
              beforeOpen: function(next) {
                  console.log('beforeOpen');
                  next();
              }
              , afterOpen: function() {
                  console.log('opened');
              }

              , beforeClose: function(next) {
                  console.log('beforeClose');
                  next();
              }
              , afterClose: function() {
                  console.log('closed');
              }
             /*  , bodyClass: 'modal-open'
               , dialogClass: 'modal-dialog'
              , dialogOpenClass: 'animated fadeIn'
               , dialogCloseClass: 'animated fadeOut'

               , focus: true
              , focusElements: ['input.form-control', 'textarea', 'button.btn-primary']

               , escapeClose: true */
          });
          
          document.addEventListener('keydown', function(ev) {
              modal.keydown(ev);
          }, false);


          var elementsArray = document.querySelectorAll(".showModal");
          elementsArray.forEach(function(elem) {
            elem.addEventListener("click", function(ev) {
                ev.preventDefault();
                modal.open();
            }, false);
        });
         /* document.getElementById('showModal1').addEventListener("click", function(ev) {
              ev.preventDefault();
              modal.open();
          }, false);
          document.getElementById('showModal2').addEventListener("click", function(ev) {
            ev.preventDefault();
            modal.open();
        }, false);
        document.getElementById('showModal3').addEventListener("click", function(ev) {
            ev.preventDefault();
            modal.open();
        }, false);  */
          window.modal = modal;
      }
  </script>
{% endblock headContent %}

{% block content %}
<div id="modal" class="modal">
                    <div class="modal-dialog animated">
                        <div class="modal-content">
                            <form action="{% url 'feedback' %}" method="POST" class="feedback_form">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <strong><h5 align="center">Please send us your feedback </h5></strong>
                                </div>
                
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for=""> Are you a legally trained person?</label>
                                        <input type="text" id="sugPageNo" class="is-hidden" name="sugPageNo" >
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="legalTrainYesFirst"
                                                name="legalTrained" value="Yes">
                                            <label class="custom-control-label" for="legalTrainYesFirst">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="legalTrainNoFirst"
                                                name="legalTrained" value="No">
                                            <label class="custom-control-label" for="legalTrainNoFirst">No</label>
                                        </div>
                                        <input type="text" class="is-hidden" name="legalTrainedInput">
                                    </div>
                                    <div class="form-group">
                                        <label for="suggestionArea">How can we improve this page?</label>
                                        <textarea class="form-control " name="suggestionArea" type="text"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                                    <button type="submit" onclick="modal.close();" class="btn btn-dark feedback_submit">Send your message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
<div class="jumbotron" style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%)">
    <br>
    <h1 class="display-5" id="form-title">
        APPLICATION FORM
    </h1>

    <div class=" mb-5 p-4" style="background-color:transparent;">
        <div id="stepperForm" class="bs-stepper ">
            <div class="bs-stepper-header" role="tablist">
                <div class="step " data-target="#form-page-1">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1"
                        aria-controls="form-page-1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Prerequisites</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->

                <div class="step" data-target="#form-page-2">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2"
                        aria-controls="form-page-2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Applicant Details</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-3">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3"
                        aria-controls="form-page-3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Representative</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-4">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger4"
                        aria-controls="form-page-4">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Facts</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-5">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger5"
                        aria-controls="form-page-5">
                        <span class="bs-stepper-circle">5</span>
                        <span class="bs-stepper-label">Article Violation(s)</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-6">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger6"
                        aria-controls="form-page-6">
                        <span class="bs-stepper-circle">6</span>
                        <span class="bs-stepper-label">Domestic Proceedings</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-7">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger7"
                        aria-controls="form-page-7">
                        <span class="bs-stepper-circle">7</span>
                        <span class="bs-stepper-label">International Proceedings</span>
                    </button>
                </div>
                <div class="step" data-target="#form-page-8">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger8"
                        aria-controls="form-page-8">
                        <span class="bs-stepper-circle">8</span>
                        <span class="bs-stepper-label">Documents</span>
                    </button>
                </div>
                <div class="step" data-target="#form-page-9">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger9"
                        aria-controls="form-page-9">
                        <span class="bs-stepper-circle">9</span>
                        <span class="bs-stepper-label">Declaration</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-10">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger10"
                        aria-controls="form-page-10">
                        <span class="bs-stepper-circle">10</span>
                        <span class="bs-stepper-label">Finish to PDF</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <form id="appForm" class="needs-validation" onSubmit="return false" method="POST"
                    action="{% url 'formProcessing' %}" novalidate>
                    {% csrf_token %}
                    {% include 'applicationForm/page1.html' %}
                    {% include 'applicationForm/page2.html' %}
                    {% include 'applicationForm/page3.html' %}
                    {% include 'applicationForm/page4.html' %}
                    {% include 'applicationForm/page5.html' %}
                    {% include 'applicationForm/page6.html' %}
                    {% include 'applicationForm/page7.html' %}
                    {% include 'applicationForm/page8.html' %}
                    {% include 'applicationForm/page9.html' %}
                    {% include 'applicationForm/page10.html' %}
                </form>
                    
                   
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scriptContent %}
<script src="{% static 'applicationForm/parsley/parsley.min.js' %}"></script>
<script src="{% static 'applicationForm/tagsinput/tagsinput.js' %}"></script>
<script src="{% static 'applicationForm/tagsinput/custom.js' %}"></script>
<script src="{% static 'applicationForm/js/combodate/combodate.js' %}"></script>
<script src="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'applicationForm/datepicker/datePicker.js' %}"></script>
<script src="{% static 'applicationForm/momentjs/moment.min.js' %}"></script>
<script src="{% static 'applicationForm/axios/axios.min.js' %}"></script>
<script src="{% static 'applicationForm/js/apiScripts.js' %}"></script>
<script src="{% static 'applicationForm/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'applicationForm/bootstrap-select/bootstrap-select-custom.js' %}"></script>
<script src="{% static 'applicationForm/js/jquery.form-repeater.js' %}"></script>
<script src="{% static 'applicationForm/js/formScripts.js' %}"></script>
<script src="{% static 'applicationForm/rmodal/rmodal.min.js' %}"></script>
<script src="{% static 'applicationForm/js/validationScripts.js' %}"></script>
<script src="{% static 'applicationForm/stepper/bs-stepper.min.js' %}"></script>
<script src="{% static 'applicationForm/intlTelInput/intlTelInput.min.js' %}"></script>
<script src="{% static 'applicationForm/intlTelInput/utils.js' %}"></script>
<script src="{% static 'applicationForm/countrySelect/countrySelect.min.js' %}"></script>
<script src="{% static 'applicationForm/js/countryScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/phoneScripts.js' %}"></script>
<script src="{% static 'applicationForm/js/prereqFormScripts.js' %}"></script>
<script>
    $(function () {
        $('.date').combodate({
            minYear: 1900,
            maxYear: 2020,
            customClass: 'custom-control-inline form-control',
            smartDays: true,
            firstItem: 'name',
            format: "DD/MM/YYYY"
        });
    });
</script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

<script>
    window.Parsley
    .addValidator('maxDate', {
        requirementType: 'date',

        validateDate(value){
        var now = new Date();
        var date = new Date(value);
        return date < now;
    },
  
    messages: {
        en: 'This value should be less than current date'
      }
    });
    
</script>

{% endblock scriptContent %}

