<div id="form-page-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger5">
    <section class="container">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">
                    Statement of the facts
                </p>
                <p>All the information concerning the facts, complaints and compliance with the requirements of
                    exhaustion of domestic remedies and
                    the six-month time-limit laid down in Article 35 § 1 of the Convention must be set out in this part
                    of the application form (sections E,
                    F and G). It is not acceptable to leave these sections blank or simply to refer to attached sheets.
                    See Rule 47 § 2 and the Practice
                    Direction on the Institution of proceedings as well as the “Notes for filling in the application
                    form”.</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" name="stOfFacts" id="stofFacts"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' cols="30"
                        rows="10"></textarea>
                </div>
                <div class="card-footer" align="center">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
                </div>
            </div>
    </section>
</div>