<div id="form-page-11" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger11">
    <div class="container form-section" id="summary">
        <div class="card">
            <div class="card-header">
                <h4 class="card-headet-title">Finish</h4>
                <p class="card-header-title lead">

                </p>
            </div>
            <div class="card-body">
                <div>
                    <h3>VERY IMPORTANT </h3>
                    <div align="left">
                        <p>The application form has to be printed out and sent by post to the registrar of the European
                            Court
                            of
                            Human Rights.</p>

                        <p>Before mailing the form, please make sure to:
                            <span>
                                <ol>
                                    <li>Add copies of domestic decisions in chronological order (add page numbers,
                                        including in section I.
                                        in
                                        the required fields. The page numbering can depend on the number and length of
                                        the documents
                                        involved); </li>
                                    <li>Sign the application in the required fields; </li>
                                </ol>
                            </span>
                        </p>
                        <p>The completed and signed application form should be sent by post to:</p>
                        <span>The Registrar</span><br>
                        <span>European Court of Human Rights</span><br>
                        <span>Council of Europe</span><br>
                        <span>67075 STRASBOURG CEDEX</span><br>
                        <span>FRANCE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
            <button id="form-submit-btn" type="submit" class="btn btn-primary">Generate Printable PDF Form</button>
            <button id="btn btn-primary" type="button" class="btn btn-primary" data-toggle="popover"
                data-content="the email functionality is yet to be implemented." data-placement="bottom">Send the PDF
                form
                to e-Mail</button>
        </div>
    </div>
</div>