<div id="form-page-8" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger8">
    <div class="container form-section" id="summary">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title" align="center">
                    Documents
                </h4>
                <p style="text-align:justify">Applicants have to support their complaints by documentary evidence. This
                    means that if
                    there is a
                    complaint about an official act or decision, a copy of that decision or document attesting to that
                    official act or measure must be provided. The Court cannot just take the word of applicants for what
                    they say has happened. So, if an applicant complains that his house is being expropriated, he must
                    attach to the application form a copy of the official decision ordering the expropriation; if an
                    applicant alleges that she has been refused legal aid for her child custody proceedings, she must
                    provide a copy of the document by the decision body setting out that refusal. If there are a number
                    of documents relating to a particular incident or procedure, an applicant should err on the side of
                    caution and provide all that appear relevant. <br><br>
                    If you are unable to obtain a copy of a decision or document, you should explain this in the
                    application form. But you must show that it was practically impossible for you to obtain the
                    document: applicants are expected to take reasonable steps to apply to authorities for copies of
                    documents and to comply with reasonable formalities in that respect. If the explanation is not
                    forthcoming or adequate, the application will not be allocated to a judicial formation. <br><br>
                    Where documents are provided by electronic means, they must be in the format required by this
                    practice direction; they must also be arranged and numbered in accordance with the list of documents
                    on the application form.
                </p>
            </div>
            <div class="card-body">
                <div class="section" style="text-align: left;">
                    <h4>List of Accompanying Documents <a href="javascript://" data-toggle="popover" data-content="REMINDER: It is the applicant’s responsibility to take steps in good time to obtain all the information and documents required for a complete application. If you do not provide one or more of the necessary documents your application will not be regarded as complete and it will not be examined by the Court, unless you have given an adequate explanation of why you were unable to provide the missing document(s). 
                        Please note that for safety reasons, applications containing suspicious objects will be destroyed. 
                        " data-trigger="click" data-placement="bottom"><span><i
                                    class="fas fa-question-circle"></i></span></a></h4>
                    <p> You must enclose a numbered and chronological list of all judgments and decisions referred to in
                        the
                        Statement of Facts, Statement of Alleged Violations and Domestic and International Proceeding,
                        as
                        well as any other documents you wish the Court to take into consideration as evidence supporting
                        your claims of a violation of the Convention (transcripts, witness statements, medical reports,
                        etc.). <br><br>
                        No documents will be
                        returned to you. It is thus in your interests to submit copies, not originals. You MUST:</p>
                    <ul>
                        <li> arrange the documents in order by date and by procedure;</li>
                        <li> number the pages consecutively; and</li>
                        <li> NOT staple, bind or tape the documents.</li>
                    </ul>

                    <div class="form-group">
                        Please list the documents in chronological order with a concise description. Indicate the page
                        number at which
                        each document may be found:

                        <div class="form-group add-field">
                            <div class="docLists">
                                <div class="docList">
                                    <table width="100%">
                                        <tr>
                                            <td width="40%">
                                                <label><b>Date</b></label>
                                                <input type="text" class="date" name="page8[finalDecisionDate][]"
                                                    data-template='DD MMM YYYY'>
                                            </td>
                                            <td width="50%" style="padding-right:10px;">
                                                <label for="docSelect"><b>Description</b></label>
                                                <textarea class="form-control" name="page8[docSelect][]" id="docSelect"
                                                    oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
                                                    cols="30" rows="1"></textarea>
                                            </td>
                                            <td width="10%">
                                                <label><b>Number of Pages</b> <a href="javascript://"
                                                        data-toggle="popover"
                                                        data-content="Indicate the total number of pages in each document"
                                                        data-trigger="click" data-placement="bottom"><span><i
                                                                class="fas fa-question-circle"></i></span></a></label>
                                                <select name="page8[pageNumber]" id="noOfPage"
                                                    class="form-control"></select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="btn btn-light add-more-docs"><span>Add More <i class="fas fa-plus"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div align="left">
                        <div><strong>Applicant Type: </strong><span id="sumApplicantType"></span>
                        </div>
                        <div><strong>Surname: </strong><span id="sumIndSurname"></span>
                        </div>
                        <div><strong>First Names(s): </strong><span id="sumIndFirstName"></span>
                        </div>
                         <div><strong>First Names(s): </strong><span id="sumIndFirstName"></span>
                        </div> 
                    </div> -->

                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
            <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
        </div>
    </div>
</div>