<div id="form-page-9" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger9">
    <div class="container form-section" id="summary">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">
                    Summary
                </p>
            </div>
            <div class="card-body">
                <div class="section">
                    <h4>Applicant Detail</h4>
                    <div align="left">
                        <div><strong>Applicant Type: </strong><span id="sumApplicantType"></span>
                        </div>
                        <div><strong>Surname: </strong><span id="sumIndSurname"></span>
                        </div>
                        <div><strong>First Names(s): </strong><span id="sumIndFirstName"></span>
                        </div>
                        <!-- <div><strong>First Names(s): </strong><span id="sumIndFirstName"></span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
        <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
    </div>
</div>