<div id="form-page-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger3">
    <div class="container form-section" id='involvedStatesSection'>
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">
                    State(s) against which the application is directed
                </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="label">Select the name(s) of the State(s) against which the application is
                        directed. <p>(Use CTRL+Click on the country name to select multipile countries)</p></label>


                    <select multiple class="custom-select" size="15" name="involvedStates" id="involvedStates"
                        data-parsley-mincheck="1" data-parsley-group="page3">
                        <option value="ALB - Albania">ALB - Albania</option>
                        <option value="AND - Andorra">AND - Andorra</option>
                        <option value="ARM - Armenia">ARM - Armenia</option>
                        <option value="AUT - Austria">AUT - Austria</option>
                        <option value="AZE - Azerbaijan">AZE - Azerbaijan</option>
                        <option value="BEL - Belgium">BEL - Belgium</option>
                        <option value="BGR - Bulgaria">BGR - Bulgaria</option>
                        <option value="BIH - Bosnia and Herzegovina">BIH - Bosnia and Herzegovina</option>
                        <option value="CHE - Switzerland">CHE - Switzerland</option>
                        <option value="CYP - Cyprus">CYP - Cyprus</option>
                        <option value="CZE - Czech Republic">CZE - Czech Republic</option>
                        <option value="DEU - Germany">DEU - Germany</option>
                        <option value="DNK - Denmark">DNK - Denmark</option>
                        <option value="ESP - Spain">ESP - Spain</option>
                        <option value="EST - Estonia">EST - Estonia</option>
                        <option value="FIN - Finland">FIN - Finland</option>
                        <option value="FRA - France">FRA - France</option>
                        <option value="GBR - United Kingdom">GBR - United Kingdom</option>
                        <option value="GEO - Georgia">GEO - Georgia</option>
                        <option value="GRC - Greece">GRC - Greece</option>
                        <option value="HRV - Croatia">HRV - Croatia</option>
                        <option value="HUN - Hungary">HUN - Hungary</option>
                        <option value="IRL - Ireland">IRL - Ireland</option>
                        <option value="ISL - Iceland">ISL - Iceland</option>
                        <option value="ITA - Italy">ITA - Italy</option>
                        <option value="LIE - Liechtenstein">LIE - Liechtenstein</option>
                        <option value="LTU - Lithuania">LTU - Lithuania</option>
                        <option value="LUX - Luxembourg">LUX - Luxembourg</option>
                        <option value="LVA - Latvia">LVA - Latvia</option>
                        <option value="MCO - Monaco">MCO - Monaco</option>
                        <option value="MDA - Republic of Moldova">MDA - Republic of Moldova</option>
                        <option value="MKD - North Macedonia">MKD - North Macedonia</option>
                        <option value="MLT - Malta">MLT - Malta</option>
                        <option value="MNE - Montenegro">MNE - Montenegro</option>
                        <option value="NLD - Netherlands">NLD - Netherlands</option>
                        <option value="NOR - Norway">NOR - Norway</option>
                        <option value="POL - Poland">POL - Poland</option>
                        <option value="PRT - Portugal">PRT - Portugal</option>
                        <option value="ROU - Romania">ROU - Romania</option>
                        <option value="RUS - Russian Federation">RUS - Russian Federation</option>
                        <option value="SMR - San Marino">SMR - San Marino</option>
                        <option value="SRB - Serbia">SRB - Serbia</option>
                        <option value="SVK - Slovak Republic">SVK - Slovak Republic</option>
                        <option value="SVN - Slovenia">SVN - Slovenia</option>
                        <option value="SWE - Sweden">SWE - Sweden</option>
                        <option value="TUR - Turkey">TUR - Turkey</option>
                        <option value="UKR - Ukraine">UKR - Ukraine</option>
                    </select>
                </div>
            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
            </div>
        </div>
    </div>
</div>