<div id="form-page-10" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger10">
    <div class="container form-section" id="summary">
        <div class="card">
            <div class="card-header">
                <h4 class="card-headet-title">Finish</h4>
                <p class="card-header-title lead">

                </p>
            </div>
            <div class="card-body">
                <div>
                    <h3>VERY IMPORTANT </h3>
                    <div style="text-align:justify">
                        <p>The application form has to be printed out and sent by mail to the registrar of the European
                            Court of Human Rights.
                        </p>

                        <span>Before mailing the form, please make sure to:
                            <span>
                                <ol>
                                    <li>Add the original signatures of the applicant(s) and/or the authorised
                                        representative(s) in all the relevant fields (page 3 if you are an individual
                                        that is represented by someone else, page 4 if you are an organisation that is
                                        represented by a lawyer, and page 13 of the printed application form). The
                                        receipt of a faxed application is not counted as a complete application as the
                                        Court needs to receive the original signed application form.
                                    </li>
                                    <li>Sign the application in the required fields; </li>
                                    <li>Add full and legible copies of all documents mentioned in your application. No
                                        documents will be returned to you. It is thus in your interests to submit
                                        copies, not originals. You MUST:

                                        <ul>
                                            <li>arrange the documents in order by date and by procedure; </li>
                                            <li>number the pages consecutively; and </li>
                                            <li>NOT staple, bind or tape the documents.</li>
                                        </ul>
                                        <p>Please indicate at page 12 of the printed application (the page titled “List
                                            of Accompanying Documents”) the page number at which each document annexed
                                            may be found.
                                        </p>
                                    </li>
                                    <li>Applicants must dispatch the signed original by post within the six-month
                                        time-limit from the date when the final decision from the highest national court
                                        was communicated.
                                    </li>
                                    <li>
                                        <span> The completed and signed application form should be sent by post
                                            to:</span> <br>
                                        <div style="margin-left:100px">
                                            <span>The Registrar</span><br>
                                            <span>European Court of Human Rights</span><br>
                                            <span>Council of Europe</span><br>
                                            <span>67075 STRASBOURG CEDEX</span><br>
                                            <span>FRANCE</span>
                                        </div>
                                    </li>
                                </ol>
                            </span>
                            </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
            <button id="form-submit-btn" type="submit" class="btn btn-primary">Generate Printable PDF Form</button>
            <button id="btn btn-primary" type="button" class="btn btn-primary" data-toggle="popover"
                data-content="the email functionality is yet to be implemented." data-placement="bottom">Send the PDF
                form
                to e-Mail</button>
        </div>
    </div>
</div>