<div id="form-page-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger3">
    <div class="container is-hidden" id="indRepresentative">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title" align="center">
                    Representative(s) of the Individual Applicant
                </h4>
                <p class="lead">Note: An individual applicant does not have to be represented by a lawyer at this stage.
                    If
                    the applicant
                    is not represented please select option "I represent myself at this stage".
                </p>

            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Representative Type</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="representativeNL"
                            name="page3[indRepresentativeType]" value="non-lawyer">
                        <label class="custom-control-label" for="representativeNL">Non-Lawyer <a href="javascript://"
                                data-toggle="popover"
                                data-content="Some applicants may choose not to, or may not be able to, take part in the proceedings themselves for reasons such as health or incapacity. They may be represented by a person without legal training, for example a parent representing a child, or a guardian or family member or partner representing someone whose practical or medical circumstances make it difficult to take part in the proceedings (e.g. an applicant who is in hospital or prison). The representative must indicate in what capacity he or she is representing the applicant or his or her relationship with the applicant, together with his or her identity and contact details."
                                data-trigger="click" data-placement="bottom"><span><i
                                        class="fas fa-question-circle"></i></span></a></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" id="representativeL" type="radio"
                            name="page3[indRepresentativeType]" value="lawyer">
                        <label class="custom-control-label" for="representativeL">Lawyer <a href="javascript://"
                                data-toggle="popover"
                                data-content="If the application is lodged by a lawyer. An applicant does not have to instruct a lawyer at the stage of lodging the application, although it may be advisable to do so. The applicant is informed if the case reaches a stage of the proceedings where representation by a lawyer is required. At this point – after a decision by the Court to give notice of the application to the Government concerned for written observations – the applicant may be eligible for free legal aid if he or she has insufficient means to pay a lawyer’s fees and if the grant of such aid is considered necessary for the proper conduct of the case. Information is sent to applicants about this at the relevant time."
                                data-trigger="click" data-placement="bottom"><span><i
                                        class="fas fa-question-circle"></i></span></a></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" id="representativeNone" type="radio"
                            name="page3[indRepresentativeType]" value="selfRepresented">
                        <label class="custom-control-label" for="representativeNone">I represent myself at this
                            stage</label>
                    </div>
                </div>

                <div class="section is-hidden" id="nonLawyerRep">
                    <div class="form-group">
                        <label>Capacity/relationship/function</label>
                        <input class="form-control" type="text" name="page3[nlCapacity]"
                            placeholder="Enter your relationship to the applicant" id="nlCapacity" required>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input class="form-control" type="text" name="page3[nlSurname]" placeholder="Enter your surname"
                            id="nlSurname" required>
                    </div>
                    <div class="form-group">
                        <label>First Name(s)</label>
                        <input class="form-control" type="text" name="page3[nlFirstName]"
                            placeholder="Enter your First Name(s)" id="nlFirstName" required>
                    </div>
                    <div class="form-group">
                        <label>Nationality</label>
                        <select class="form-group" name="page3[nlNationality]" id="nlNationality"></select>
                        <input type="hidden" id="phonenlNationality">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows=6 placeholder="Enter Address" name="page3[nlAddress]"
                            id="nlAddress"></textarea>`
                    </div>
                    <div class="form-group">
                        <label>Telephone Number (select country code)</label> <br>
                        <input class="form-control phoneInput" type="tel" style="width: 100%;" name="page3[nlTel]"
                            id="nlTel">
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <input class="form-control" type="number" name="page3[nlFax]" placeholder="Enter Fax number"
                            id="nlFax">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="page3[nlEmail]" placeholder="Email" id="nlEmail"
                            required>
                    </div>
                </div>
                <div class="section is-hidden" id="lawyerRep">
                    <div class="form-group">
                        <label>Surname</label>
                        <input class="form-control" type="text" name="page3[lSurname]" placeholder="Enter your surname"
                            id="lSurname" required>
                    </div>
                    <div class="form-group">
                        <label>First Name(s)</label>
                        <input class="form-control" type="text" name="page3[lFirstName]"
                            placeholder="Enter your First Name(s)" id="lFirstName" required>
                    </div>
                    <div class="form-group">
                        <label>Nationality</label>
                        <select class="form-group" name="page3[lNationality]" id="lNationality"></select>
                        <input type="hidden" id="phonelNationality">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows=6 placeholder="Enter Address" name="page3[lAddress]"
                            id="lAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Telephone Number (select country code)</label> <br>
                        <input class="form-control phoneInput" type="tel" style="width: 100%;" name="page3[lTel]"
                            id="lTel">
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <input class="form-control" type="number" name="page3[lFax]" placeholder="Enter Fax Number"
                            id="lFax">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="page3[lEmail]" placeholder="Email" id="lEmail"
                            required>
                    </div>
                </div>
                <div class="indAuthority is-hidden">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Authority <a href="javascript://" data-toggle="popover"
                                data-content="If an applicant is represented by a lawyer or other person, both the applicant and the designated representative – whose identifying details must be indicated on the application form - must sign the authority section on the application form. The applicant’s signature provides the necessary proof that the representative has been authorised by the applicant to act on the latter’s behalf; the representative’s signature, which is a new requirement, provides confirmation that this person has in fact accepted to act for the applicant. Where the applicant is an organisation, it is the official or officer of that organisation and the lawyer who sign.  In the absence of such signature, the Registry may continue to correspond only with the applicant due to lack of proof that the representative is in fact involved in the case."
                                data-trigger="click" data-placement="bottom"><span><i
                                        class="fas fa-question-circle"></i></span></a></h4>
                        <p class="form-text">An applicant must sign the authority empowering the representative to act
                            on his
                            or her behalf, unless, for example, the applicant is a child or lacks legal capacity and is
                            unable to sign. If a representative who is not a lawyer has instructed a lawyer on behalf of
                            an applicant who is unable to sign, the representative should sign the authority on the
                            applicant’s behalf.
                            A separate authority form will not be accepted unless adequate explanations are provided as
                            to the existence of insurmountable practical obstacles in signing the authority section on
                            the form or it is used at a later stage to appoint a lawyer/representative after the
                            application has been lodged with the Court.
                        </p>
                        <p class="alert alert-danger" role="alert">Please Note: This section must contain original
                            signatures added
                            after the form
                            has been
                            printed out</p>
                    </div>
                    <p>The applicant must authorise any representative to act on his or her behalf by signing
                        the
                        first box below; the designated
                        representative must indicate his or her acceptance by signing the second box below</p>
                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="indAuthoritySignatureApplicant">Signature of
                                Applicant</label>
                            <input class="custom-file-input" type="file" name="page3[indAuthoritySignatureApplicant]"
                                id="indAuthoritySignatureApplicant">

                            <label>Date <a href="javascript://" data-toggle="popover"
                                    data-content="The date required is the date of signature by the individual applicant and his or her representative."
                                    data-trigger="click" data-placement="bottom"><span><i
                                            class="fas fa-question-circle"></i></span></a></label>
                            <input type="text" class="datepicker form-control" id="indAuthorityDateApplicant"
                                name="page3[indAuthorityDateApplicant]" data-date-format="dd/mm/yyyy"
                                placeholder="Date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="indAuthoritySignatureRepresentative">Signature of
                                Representative</label>
                            <input class="custom-file-input" type="file"
                                name="page3[indAuthoritySignatureRepresentative]"
                                id="indAuthoritySignatureRepresentative">

                            <label>Date</label>
                            <input type="text" class="datepicker form-control" id="indAuthorityDateRepresentative"
                                name="page3[indAuthorityDateRepresentative]" data-date-format="dd/mm/yyyy"
                                placeholder="Date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="indIndeComms" class="lead">Electronic communication between the representative and
                            the
                            Court <a href="javascript://" data-toggle="popover" data-content="eComms is a service initiated by the Court for communicating electronically with an applicant’s representative. The service is only activated if and when the case reaches a stage of the proceedings where the Government concerned are requested to submit written observations. 
                            The email address provided will be used to create an eComms account. It is recommended that representatives working in a law firm provide a generic email address so that the account can be used by multiple users within the firm. 
                           You should inform the Court of any change to your eComms account email address. 
                           For more information, please refer to the terms and conditions available on the eComms website (https://ecomms.echr.coe.int), as well as the Practice Direction on electronic filing by applicants (www.echr.coe.int/practicedirections) (available in English and French only). 
                           " data-trigger="click" data-placement="bottom"><span><i
                                        class="fas fa-question-circle"></i></span></a></label>
                        Email address for eComms account (if the representative already uses eComms, please
                        provide
                        the existing eComms account email
                        address)
                        <input class="form-control" type="email" name="page3[indIndeComms]" id="indIndeComms">
                    </div>
                </div>
                <div class="section is-hidden" id="selfRep">
                    <p class="lead">No action needed. Click on the Next button to proceed to next step.</p>
                </div>
            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
            </div>
        </div>
    </div>


    <div class="container is-hidden" id="orgRepresentative">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title" align="center">
                    Representative(s) of the Applicant Organisation <a href="javascript://" data-toggle="popover"
                        data-content="A legal person (which includes a company, non-governmental organisation or association) that applies to the Court must do so through a representative of that legal person and who provides contact details and explains his or her capacity or relationship with the legal person. This official representative might be the person specifically designated by the board, or council of administration for that purpose, or the person who is authorised generally under domestic law or the organisation’s articles to act on its behalf. It may be that a legal person’s representative is also a lawyer or legal officer and has the capacity to act additionally as legal representative. Both parts of the application form concerning representation must still be filled in, and requisite documentary proof provided of authority to represent the legal person must be attached."
                        data-trigger="click" data-placement="bottom"><span><i
                                class="fas fa-question-circle"></i></span></a>
                </h4>
                <p class="lead">Where the applicant is an organisation, it must be represented before the Court by a
                    person entitled
                    to act on its behalf and in its
                    name (e.g. a duly authorised director or official).</p>
            </div>
            <div class="card-body">
                <div class="section" id="orgNonLawyerRep">
                    <label class="lead">Organisation Official</label>
                    <div class="form-group">
                        <label>Capacity/relationship/function (please provide proof)</label>
                        <input class="form-control" type="text" name="page3[orgnlCapacity]"
                            placeholder="Enter your relationship to the applicant" id="orgnlCapacity" required>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input class="form-control" type="text" name="page3[orgnlSurname]"
                            placeholder="Enter your surname" id="orgnlSurname" required>

                    </div>
                    <div class="form-group">
                        <label>First Name(s)</label>
                        <input class="form-control" type="text" name="page3[orgnlFirstName]"
                            placeholder="Enter your First Name(s)" id="orgnlFirstName" required>
                    </div>
                    <div class="form-group">
                        <label>Nationality</label>
                        <select class="form-control" name="page3[orgnlNationality]" id="orgnlNationality"></select>
                        <input type="hidden" id="orgPhonenlNationality">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows=6 placeholder="Enter Address" name="page3[orgnlAddress]"
                            id="orgnlAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Telephone Number (select country code)</label> <br>
                        <input class="form-control phoneInput" type="tel" name="page3[orgnlTel]" id="orgnlTel">
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <input class="form-control" type="number" name="page3[orgnlFax]"
                            placeholder="Enter your First Name(s)" id="orgnlFax">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="page3[orgnlEmail]" placeholder="Email"
                            id="orgnlEmail" required>
                    </div>
                    <div class="form-group alert alert-secondary">
                        <h4 class="alert-heading">Is the organisation going to be represented by a Lawyer?</h4>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="orgLRepresentative"
                                name="page3[orgRepresentativeType]" value="orgYesLawyer">
                            <label class="custom-control-label" for="orgLRepresentative">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="orgNLRepresentative"
                                name="page3[orgRepresentativeType]" value="orgNoLawyer" required
                                data-parsley-group="page2">
                            <label class="custom-control-label" for="orgNLRepresentative">No</label>
                        </div>
                    </div>
                </div>

                <div class="section is-hidden" id="orgLawyerRep">
                    <div class="form-group">
                        <label>Surname</label>
                        <input class="form-control" type="text" name="page3[orglSurname]"
                            placeholder="Enter your surname" id="orglSurname" required>
                    </div>
                    <div class="form-group">
                        <label>First Name(s)</label>
                        <input class="form-control" type="text" name="page3[orglFirstName]"
                            placeholder="Enter your First Name(s)" id="orglFirstName" required>
                    </div>
                    <div class="form-group">
                        <label>Nationality</label>
                        <select class="form-control" name="page3[orglNationality]" id="orglNationality"></select>
                        <input type="hidden" id="orgPhonelNationality">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" rows=6 placeholder="Enter Address" name="page3[orglAddress]"
                            id="orglAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Telephone Number (select country code)</label> <br>
                        <input class="form-control phoneInput" type="tel" name="page3[orglTel]" id="orglTel">
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <input class="form-control" type="number" name="page3[orglFax]" placeholder="Enter Fax"
                            id="orglFax">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="page3[orglEmail]" placeholder="Email"
                            id="orglEmail" required>
                    </div>
                </div>
                <div class="orgAuthority is-hidden">
                    <div class="alert alert-success">
                        <h4 class="alert-heading">Authority </h4>

                        <p>The representative of the applicant organisation must authorise any lawyer to act on its
                            behalf
                            by
                            signing the first box below; the
                            lawyer must indicate his or her acceptance by signing the second box below.</p>
                    </div>
                    <p>
                        I hereby authorise the person indicated in section D.2 above to represent the organisation
                        in
                        the
                        proceedings before the European
                        Court of Human Rights concerning the application lodged under Article 34 of the Convention.
                    </p>
                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="orgAuthoritySignatureApplicant">Signature of
                                organisation
                                official</label>
                            <input class="custom-file-input" type="file" name="page3[orgAuthoritySignatureApplicant]"
                                id="orgAuthoritySignatureApplicant">

                            <label>Date <a href="javascript://" data-toggle="popover"
                                    data-content="The date required is the date of signature by the individual applicant and his or her representative."
                                    data-trigger="click" data-placement="bottom"><span><i
                                            class="fas fa-question-circle"></i></span></a></label>
                            <input type="text" class="datepicker form-control" id="orgAuthorityDateApplicant"
                                data-date-format="dd/mm/yyyy" placeholder="Date"
                                name="page3[orgAuthorityDateApplicant]">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                            <div>
                                <p>I hereby agree to represent the organisation in the proceedings before the
                                    European
                                    Court
                                    of Human Rights concerning the application
                                    lodged under Article 34 of the Convention.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="orgAuthoritySignatureLawyer">Signature of
                                Lawyer</label>
                            <input class="custom-file-input" type="file" name="page3[orgAuthoritySignatureLawyer]"
                                id="orgAuthoritySignatureRepresentative">
                            <p>I hereby agree to represent the organisation in the proceedings before the European
                                Court
                                of
                                Human Rights concerning the application
                                lodged under Article 34 of the Convention.</p>
                            <label>Date</label>
                            <input type="text" class="datepicker form-control" id="orgAuthorityDateRepresentative"
                                data-date-format="dd/mm/yyyy" placeholder="Date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orgIndeComms" class="lead">Electronic communication between the representative and
                            the
                            Court <a href="javascript://" data-toggle="popover" data-content="eComms is a service initiated by the Court for communicating electronically with an applicant’s representative. The service is only activated if and when the case reaches a stage of the proceedings where the Government concerned are requested to submit written observations. 
                            The email address provided will be used to create an eComms account. It is recommended that representatives working in a law firm provide a generic email address so that the account can be used by multiple users within the firm. 
                           You should inform the Court of any change to your eComms account email address. 
                           For more information, please refer to the terms and conditions available on the eComms website (https://ecomms.echr.coe.int), as well as the Practice Direction on electronic filing by applicants (www.echr.coe.int/practicedirections) (available in English and French only). 
                           " data-trigger="click" data-placement="bottom"><span><i
                                        class="fas fa-question-circle"></i></span></a></label>
                        Email address for eComms account (if the representative already uses eComms, please provide
                        the existing eComms account email
                        address)
                        <input class="form-control" type="email" name="page3[orgIndeComms]" id="orgIndeComms">
                    </div>
                </div>
                <div class="section is-hidden" id="orgLawyerRep">
                    <p class="lead">No action needed. Please click on the Next button to proceed to next step.</p>
                </div>
                <div class="card-footer" align="center">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>