<div id="form-page-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger6">
    <section class="container">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Compliance with admisibility criteria laid down in Article 35 §
                    1 of
                    the <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf" target="_blank">Convention </a>
                </h4>

                <p class="lead">
                    For each complaint, please confirm that you have used the available effective remedies in the
                    country
                    concerned, including appeals,
                    and also indicate the date when the final decision at domestic level was delivered and received, to
                    show
                    that you have complied with
                    the six-month time-limit.
                </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="complaints">
                        <div class="complaint">
                            <table width="100%">
                                <tr>
                                    <td width="30%">
                                        <label for="complainSelect">Complaint</label>
                                        <input name="page6[complainSelect][]" class="form-control complainSelect">
                                    </td>
                                    <td width="30%">
                                        <label>Date of Final Decision</label>
                                        <input class="form-control datepicker" type="text" color="Info"
                                            name="page6[complaintDate][]" placeholder="Select date of final Decision" />
                                    </td>
                                    <td width="30%">
                                        <label> Remedies Used</label>
                                        <textarea name="page6[remedies][]" class="form-control remedies"
                                            type="text"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr>
                    </div>
                    <div class="btn btn-light add-more-complaints"><span>Add More <i class="fas fa-plus"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    Is or was there an appeal or remedy available to you which you have not used? <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="appealAvailableYes"
                            name="page6[appealAvailable]" value="Yes" required data-parsley-group="">
                        <label class="custom-control-label" for="appealAvailableYes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="appealAvailableNo"
                            name="page6[appealAvailable]" value="No" required data-parsley-group="">
                        <label class="custom-control-label" for="appealAvailableNo">No</label>
                    </div>
                </div>
                <div class="form-group is-hidden appealDescribe">
                    <label for="appealDescribe">Please state which appeal or remedy you have not used and explain why
                        not</label>
                    <textarea class="form-control" name="page6[appealDescribe]" id="appealDescribe"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' cols="30"
                        rows="10"></textarea>
                </div>
                <div class="card-footer" align="center">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
                </div>
            </div>
    </section>
</div>