<div id="form-page-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger5">
    <section class="container">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title" align="center">
                    Statement of alleged violation(s) of the <a
                        href="https://www.echr.coe.int/Documents/Convention_ENG.pdf" _target="#"> Convention and/or
                        Protocols </a>and relevant arguments
                </h4>
                <p>You should be able to show that the matters about which you complain have interfered
                    unjustifiably with a fundamental right. The European Court of Human Rights is not a court of appeal
                    from national courts and cannot annul or alter their decisions, therefore you cannot just complain
                    that a court’s decision was unfair or wrong. <br><br>
                    An applicant must put down the gist of what he or she is complaining about. The Court cannot infer
                    from the facts or domestic court documents what the applicant considers to be in breach of his or
                    her rights. An applicant should try and identify those Articles of the European Convention on Human
                    Rights which covers what he or she complains about – the Articles are framed in very plain and
                    general terms that are easily understandable, such as ill-treatment, right to liberty, fair trial
                    rights, family life rights, freedom of expression, etc. It is crucial to write down both the Article
                    of the Convention and in a few brief sentences how it has been infringed – the Court cannot guess
                    what an applicant objects to or make up the complaints for him or her.
                </p>
            </div>
            <div class=" alert alert-success example-box">
                <h5 class="alert-heading">Examples</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Article</th>
                            <th scope="col">Explanation</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Article 6</td>
                            <td>The criminal proceedings against me lasted 9 years and 8 months for two levels of
                                jurisdiction. Also, I was not allowed to cross-examine the witness who gave the sole
                                evidence against me.</td>
                        </tr>
                        <tr>
                            <td>Article 5</td>
                            <td>I was detained wrongfully at the border police station for three days without being told
                                why or being allowed to phone a lawyer or my family.</td>
                        </tr>
                        <tr>
                            <td>Article 3</td>
                            <td>The police kept me handcuffed in a cell without heating and gave me no food for three
                                days. I became ill and needed treatment from the doctor for bronchitis.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body alert-info">
                <div class="form-group add-field">
                    <h5>Articles</h5>
                    <div class="articles">
                        <div class="article">
                            <table width="100%">
                                <tr>
                                    <td width="30%" style="padding-right:10px;">
                                        <label for="articleSelect">Article Name</label>
                                        <select name="page5[articleSelect][]" class="form-control articleSelect">
                                            <option disabled selected value> -- Select relevant article -- </option>
                                            <option value="1"> (Art. 1) Obligation to respect human rights </option>
                                            <option value="2"> (Art. 2) Right to life </option>
                                            <option value="3"> (Art. 3) Prohibition of torture </option>
                                            <option value="4"> (Art. 4) Prohibition of slavery and forced labour
                                            </option>
                                            <option value="5"> (Art. 5) Right to liberty and security </option>
                                            <option value="6"> (Art. 6) Right to a fair trial </option>
                                            <option value="7"> (Art. 7) No punishment without law </option>
                                            <option value="8"> (Art. 8) Right to respect for private and family life
                                            </option>
                                            <option value="9"> (Art. 9) Freedom of thought, conscience and religion
                                            </option>
                                            <option value="10"> (Art. 9) Positive obligations </option>
                                            <option value="11"> (Art. 10) Freedom of expression-{general} </option>
                                            <option value="12"> (Art. 11) Freedom of assembly and association
                                            </option>
                                            <option value="13"> (Art. 12) Right to marry </option>
                                            <option value="14"> (Art. 13) Right to an effective remedy</option>
                                            <option value="15"> (Art. 14) Prohibition of discrimination </option>
                                            <option value="16"> (Art. 15) Derogation in time of emergency</option>
                                            <option value="17"> (Art. 16) Restrictions on political activity of
                                                aliens-{general} </option>
                                            <option value="18"> (Art. 17) Prohibition of abuse of rights </option>
                                            <option value="19"> (Art. 18) Limitation on use of restrictions on rights
                                            </option>
                                            <option value="20"> (Art. 19) Establishment of the Court </option>
                                            <option value="21"> (Art. 33) Inter-State cases </option>
                                            <option value="22"> (Art. 34) Individual applications </option>
                                            <option value="23"> (Art. 35) Admissibility criteria </option>
                                            <option value="24"> (Art. 37) Striking out applications-{general}
                                            </option>
                                            <option value="25"> (Art. 38) Examination of the case-{general}
                                            </option>
                                            <option value="26"> (Art. 39) Friendly settlements </option>
                                            <option value="27"> (Art. 41) Just satisfaction-{general}</option>
                                            <option value="28"> (Art. 46) Binding force and execution of judgments
                                            </option>
                                            <option value="29"> (Art. 47) Advisory opinions-{general} </option>
                                            <option value="30"> (Art. 48) Advisory jurisdiction of the Court-{general}
                                            </option>
                                            <option value="31"> (Art. 52) Inquiries by the Secretary General </option>
                                            <option value="32"> (Art. 53) Rights otherwise guaranteed </option>
                                            <option value="33"> (Art. 54) Powers of the Committee of Ministers
                                            </option>
                                            <option value="34"> (Art. 55) Renunciation of other means of settlement
                                            </option>
                                            <option value="35"> (Art. 56) Territorial application-{general} </option>
                                            <option value="36"> (Art. 57) Reservations-{general} </option>
                                            <option value="37"> (Art. 58) Denunciation </option>
                                            <option value="38"> (Art. 59) Signature and ratification-{general}
                                            </option>
                                            <option value="39"> (P1-1) Protection of property </option>
                                            <option value="40"> (P1-2) Right to education-{general} </option>
                                            <option value="41"> (P1-3) Right to free elections-{general} </option>
                                            <option value="42"> (P1-4) Territorial application </option>
                                            <option value="43"> (P1-6) Signature and ratification </option>
                                            <option value="44"> (P4-1) Prohibition of imprisonment for debt-{general}
                                            </option>
                                            <option value="45"> (P4-2) Freedom of movement-{general} </option>
                                            <option value="46"> (P4-3) Prohibition of expulsion of nationals </option>
                                            <option value="47"> (P4-4) Prohibition of collective expulsion of
                                                aliens-{general} </option>
                                            <option value="48"> (P4-5) Territorial application </option>
                                            <option value="49"> (P4-7) Signature and ratification </option>
                                            <option value="50"> (P6-1) Abolition of the death penalty-{general}
                                            </option>
                                            <option value="51"> (P6-2) Death penalty in time of war-{general}
                                            </option>
                                            <option value="52"> (P6-4) Prohibition of reservations-{general} </option>
                                            <option value="53"> (P6-5) Territorial application </option>
                                            <option value="54"> (P6-7) Signature and ratification </option>
                                            <option value="55"> (P7-1) Procedural safeguards relating to expulsion of
                                                aliens </option>
                                            <option value="56"> (P7-2) Right of appeal in criminal matters </option>
                                            <option value="57"> (P7-3) Compensation for wrongful conviction </option>
                                            <option value="58"> (P7-4) Right not to be tried or punished twice-{general}
                                            </option>
                                            <option value="59"> (P7-5) Equality between spouses-{general} </option>
                                            <option value="60"> (P7-6) Territorial application </option>
                                            <option value="61"> (P7-8) Signature and ratification</option>
                                            <option value="62"> (P12-1) General prohibition of discrimination
                                            </option>
                                            <option value="63"> (P13-1) Abolition of the death penalty </option>
                                        </select>
                                    </td>
                                    <td width="60%">
                                        <label>Explanation</label>
                                        <textarea class="form-control articleExplanation"
                                            name="page5[articleExplanation]"
                                            oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
                                            cols="30" rows="1"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr>
                    </div>
                    <div class="btn btn-light add-more"><span>Add More <i class="fas fa-plus"></i></span></div>
                </div>

            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
            </div>
        </div>
    </section>
</div>