<div id="form-page-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger1">
    <div class="container form-section">
        <div class="card">
            <div class="card-header">
                <h5>Prerequisites</h5>
            </div>
            <div class="card-body">
                <ol>
                    <h5>
                        <li>
                            Which state is concerned by your application?
                        </li>
                    </h5>
                    <ol type="a">
                        <li>
                            <div class="form-group">
                                <label for="involvedStates" class="lead"> Select the name(s) of the State(s) against
                                    which
                                    the
                                    application is
                                    directed. <emph>(Use CTRL+Click on the country name to select multipile
                                        countries)</label>
                                <select multiple class="custom-select" size="15" name="involvedStates"
                                    id="involvedStates" data-parsley-mincheck="1" data-parsley-group="page3" required>
                                    <option value="ALB - Albania">ALB - Albania</option>
                                    <option value="AND - Andorra">AND - Andorra</option>
                                    <option value="ARM - Armenia">ARM - Armenia</option>
                                    <option value="AUT - Austria">AUT - Austria</option>
                                    <option value="AZE - Azerbaijan">AZE - Azerbaijan</option>
                                    <option value="BEL - Belgium">BEL - Belgium</option>
                                    <option value="BGR - Bulgaria">BGR - Bulgaria</option>
                                    <option value="BIH - Bosnia and Herzegovina">BIH - Bosnia and Herzegovina</option>
                                    <option value="CHE - Switzerland">CHE - Switzerland</option>
                                    <option value="CYP - Cyprus">CYP - Cyprus</option>
                                    <option value="CZE - Czech Republic">CZE - Czech Republic</option>
                                    <option value="DEU - Germany">DEU - Germany</option>
                                    <option value="DNK - Denmark">DNK - Denmark</option>
                                    <option value="ESP - Spain">ESP - Spain</option>
                                    <option value="EST - Estonia">EST - Estonia</option>
                                    <option value="FIN - Finland">FIN - Finland</option>
                                    <option value="FRA - France">FRA - France</option>
                                    <option value="GBR - United Kingdom">GBR - United Kingdom</option>
                                    <option value="GEO - Georgia">GEO - Georgia</option>
                                    <option value="GRC - Greece">GRC - Greece</option>
                                    <option value="HRV - Croatia">HRV - Croatia</option>
                                    <option value="HUN - Hungary">HUN - Hungary</option>
                                    <option value="IRL - Ireland">IRL - Ireland</option>
                                    <option value="ISL - Iceland">ISL - Iceland</option>
                                    <option value="ITA - Italy">ITA - Italy</option>
                                    <option value="LIE - Liechtenstein">LIE - Liechtenstein</option>
                                    <option value="LTU - Lithuania">LTU - Lithuania</option>
                                    <option value="LUX - Luxembourg">LUX - Luxembourg</option>
                                    <option value="LVA - Latvia">LVA - Latvia</option>
                                    <option value="MCO - Monaco">MCO - Monaco</option>
                                    <option value="MDA - Republic of Moldova">MDA - Republic of Moldova</option>
                                    <option value="MKD - North Macedonia">MKD - North Macedonia</option>
                                    <option value="MLT - Malta">MLT - Malta</option>
                                    <option value="MNE - Montenegro">MNE - Montenegro</option>
                                    <option value="NLD - Netherlands">NLD - Netherlands</option>
                                    <option value="NOR - Norway">NOR - Norway</option>
                                    <option value="POL - Poland">POL - Poland</option>
                                    <option value="PRT - Portugal">PRT - Portugal</option>
                                    <option value="ROU - Romania">ROU - Romania</option>
                                    <option value="RUS - Russian Federation">RUS - Russian Federation</option>
                                    <option value="SMR - San Marino">SMR - San Marino</option>
                                    <option value="SRB - Serbia">SRB - Serbia</option>
                                    <option value="SVK - Slovak Republic">SVK - Slovak Republic</option>
                                    <option value="SVN - Slovenia">SVN - Slovenia</option>
                                    <option value="SWE - Sweden">SWE - Sweden</option>
                                    <option value="TUR - Turkey">TUR - Turkey</option>
                                    <option value="UKR - Ukraine">UKR - Ukraine</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="lead">Does your application concern an act, decision or omission by a
                                    public
                                    official?</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="publicOfficialYes"
                                        name="publicOfficial" value="Yes">
                                    <label class="custom-control-label" for="publicOfficialYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="publicOfficialNo"
                                        name="publicOfficial" value="No">
                                    <label class="custom-control-label" for="publicOfficialNo">No</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="lead">Does the act, decision or omission concern you directly? </label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="concernYouYes"
                                        name="concernYou" value="Yes">
                                    <label class="custom-control-label" for="concernYouYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="concernYouNo" name="concernYou"
                                        value="No">
                                    <label class="custom-control-label" for="concernYouNo">No</label>
                                </div>

                                <div class="form-group is-hidden concernOther">
                                    <br> <label class="">If not, does the act, decision or omission concern a close
                                        relative
                                        who is unable to lodge an application himself or herself?</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="concernOtherYes"
                                            name="concernOther" value="Yes">
                                        <label class="custom-control-label" for="concernOtherYes">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="concernOtherNo"
                                            name="concernOther" value="No">
                                        <label class="custom-control-label" for="concernOtherNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <h5>
                        <li>
                            What is the subject of your application?
                        </li>
                    </h5>
                    <ol type="a">
                        <li>
                            <div class="form-group">
                                <label class="lead">Does your application concern one of the rights guaranteed by
                                    the Convention? </label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="concernRightsYes"
                                        name="concernRights" value="Yes">
                                    <label class="custom-control-label" for="concernRightsYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="concernRightsNo"
                                        name="concernRights" value="No">
                                    <label class="custom-control-label" for="concernRightsNo">No</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label class="lead">
                                When did the act, decision or omission of which you complain take place?
                            </label>
                            <input type="text" class="datepicker form-control" id="decisionDate"
                                data-date-format="dd/mm/yyyy" placeholder="Select Date">
                        </li>
                    </ol><br>
                    <h5>
                        <li>
                            Have you brought your case in the final instance before the highest court competent to deal
                            with the subject matter of your dispute? The competent national courts in Armenia are
                            in principle: </li>
                    </h5>
                    <table>
                        <tr>
                            <th>Type of proceeding</th>
                            <th>National court(s)</th>
                        </tr>
                        <tr>
                            <td>For civil and administrative proceedings</td>
                            <td>the Civil and Administrative Chamber of the Court of Cassation (ՀՀ վճռաբեկ
                                դատարանի քաղաքացիական և վարչական պալատ)</td>
                        </tr>
                        <tr>
                            <td>For criminal proceedings</td>
                            <td>the Criminal Chamber of the Court of Cassation (ՀՀ վճռաբեկ դատարանի քրեական
                                պալատ)</td>
                        </tr>

                    </table><br>
                    <h5>
                        <li>
                            Does your application to the Court comply with the six-month rule?
                        </li>
                    </h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="complySixYes" name="complySix" value="Yes">
                        <label class="custom-control-label" for="complySixYes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="complySixNo" name="complySix" value="No">
                        <label class="custom-control-label" for="complySixNo">No</label>
                    </div>
                </ol>
            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
            </div>
        </div>
    </div>
</div>