{% load static %}

{% block spHeadContent %}
<link rel="stylesheet" href="{% static 'applicationForm/intlTelInput/intlTelInput.min.css' %}">
{% endblock spHeadContent %}
<div id="form-page-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger2"
    parsley-validate parsley-bind>
    <div class="container form-section" id="indBeginner">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title lead">
                    Individual
                </p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Surname</label>
                    <input class="form-control" type="text" placeholder="Enter Surname" name="indSurname"
                        data-parsley-maxlength="10" id="indSurname" required data-parsley-group="page2a">
                </div>
                <div class="form-group">
                    <label>First Name(s)</label>
                    <input class="form-control" type="text" placeholder="Enter First Name" name="indFirstName"
                        id="indFirstName" required data-parsley-group="page2a">
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="text" class="datepicker form-control" id="birthDate" data-date-format="dd/mm/yyyy"
                        placeholder="Enter Date of Birth">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Place of Birth</label>
                    <input class="form-control" name="indPob" id="indPob">
                </div>
                <div class="form-group">
                    <label>Nationality</label>
                    <input class="form-control" name="indNationality" id="indNationality">
                </div>
                <fieldset class="form-group">
                    <label class="lead">Address</label>

                    <label>Address Line 1</label>
                    <input class="form-control" name="indAddress1" id="indAddress1">
                    <label>Address Line 2</label>
                    <input class="form-control" name="indAddress2" id="indAddress2">
                    <label>City</label>
                    <input class="form-control" name="indCity" id="indCity">
                    <label>State/Province</label>
                    <input class="form-control" name="indState" id="indState">
                    <label>Country</label>
                    <input class="form-control" name="indCountry" id="indCountry">
                    <label>Zip/Postal Code</label>
                    <input class="form-control" name="indPostal" id="indPostal">
                </fieldset>
                <div class="form-group">
                    <label>Telephone Number (select country code)</label>
                    <input type="tel" name="indPhone" id="indPhone" class="form-control phoneInput" required
                        data-parsley-group="page2a">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="indEmail" placeholder="Email" id="indEmail"
                        data-parsley-type="email" data-parsley-group="page2a">
                </div>
                <div class="form-group">
                    <label>Sex</label>
                    <div class="custom-control custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="applicantSexMale" name="applicantSex"
                            value="Male">
                        <label class="custom-control-label" for="applicantSexMale">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control">
                        <input type="radio" class="custom-control-input" id="applicantSexFemale" name="applicantSex"
                            value="Female">
                        <label class="custom-control-label" for="applicantSexFemale">Female</label>
                    </div>
                </div>
            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form">Next</button>
            </div>
        </div>
    </div>

    <section class="container" id="orgBeginner">
        <div class="card">
            <header class="card-header">
                Organisation
            </header>
            <div class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <textarea class="form-control" type="text" rows=2 placeholder="Enter the Organisation's Name"
                        name="orgName" required data-parsley-group="page2b"></textarea>
                </div>
                <div class="form-group">
                    <label>Identification number (if any)</label>
                    <input class="form-control" type="text" placeholder="Enter Identification Number" name="orgID">
                </div>

                <div class="form-group">
                    <label>Date of registration or incorporation (if any)</label>
                    <input class="form-control datepicker" type="text" id="orgDate" color="Info" name="orgDate"
                        placeholder="Select date of registration" />
                </div>


                <div class="form-group">
                    <label>Activity</label>
                    <input class="form-control" type="text" name="orgActivity" required data-parsley-group="page2b">
                </div>


                <fieldset class="form-group">
                    <label>Registered address</label>

                    <label>Address Line 1</label>
                    <input class="form-control" name="orgAddress1" id="orgAddress1">
                    <label>Address Line 2</label>
                    <input class="form-control" name="orgAddress2" id="orgAddress2">
                    <label>City</label>
                    <input class="form-control" name="orgCity" id="orgCity">
                    <label>State/Province</label>
                    <input class="form-control" name="orgState" id="orgState">
                    <label>Country</label>
                    <input class="form-control" name="orgCountry" id="orgCountry">
                    <label>Zip/Postal Code</label>
                    <input class="form-control" name="orgPostal" id="orgPostal">
                </fieldset>

                <div class="form-group">
                    <label for="orgPhone">Telephone (select country code)</label>
                    <input class="form-control phoneInput" type="tel" id="orgPhone" name="orgPhone" required
                        data-parsley-group="page2b">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="orgEmail" id="orgEmail" placeholder="Email"
                        data-parsley-type="email" data-parsley-group="page2b">
                </div>
            </div>
            <div class="card-footer" align="center">
                <button class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">Next</button>
            </div>
        </div>
    </section>
</div>