label {
  display: block;
}

.is-hidden {
  display: none;
}

.phoneInput {
  padding-left: 86px !important;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}



input[type="file"] {
  display: block;
}

.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}

.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}

.remove:hover {
  background: white;
  color: black;
}

#map {
  height: 100%;
}

table {
  font-family: sans-serif;
  width: 100%;
}

thead {
  background-color: gainsboro;
  border: 2px solid black;
  border-bottom: 3px solid black;

}

td,
th {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #8ebf42;
  border-right: 1px solid black;
}

table tr th:last-of-type {
  border-right: none;
}

table tr td:last-of-type {
  border-right: none;
}

.example-box {
  margin: 50px;
}

textarea {
  resize: none;
}